/**
 * @Author: 王宇 <moke>
 * @Date:   2017-11-15T22:45:08+08:00
 * @Email:  edwardwang0302@me.com
 * @Last modified by:   moke
 * @Last modified time: 2017-11-15T22:47:48+08:00
 */
.footer {
    padding-bottom: 10px;
}
.footer .links {
    text-align: center;
    color: #666;
    line-height: 30px;

}
.footer .links .link {
    padding: 0 10px;
}
.footer .copyright {
    text-align: center;
    line-height: 30px;
}
