/**
 * @Author: 王宇 <moke>
 * @Date:   2017-11-15T22:51:08+08:00
 * @Email:  edwardwang0302@me.com
 * @Last modified by:   moke
 * @Last modified time: 2017-11-29T22:00:47+08:00
 */
/* 通用头部导航 */
.header .logo {
    position: absolute;
    left: 50px;
    top: 42px;
    font-weight: bold;
    display: block;
    font-size: 36px;
    color: #c60023;
    text-decoration: none;
}

.header .search-con {
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input {
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: 2px solid #c60023;
}
.header .search-con .search-btn {
    /*去除行内元素间隙*/
    position: absolute;
    height: 44px;
    width: 80px;
    margin-left: -3px;
}

/*面包屑导航*/
.crumb {
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}
