/**
 * @Author: 王宇 <moke>
 * @Date:   2017-11-15T21:58:45+08:00
 * @Email:  edwardwang0302@me.com
 * @Last modified by:   moke
 * @Last modified time: 2017-11-19T16:34:55+08:00
 */
.nav-simple {
    height: 60px;
    line-height: 60px;
    border: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
