/**
 * @Author: 王宇 <moke>
 * @Date:   2017-11-16T22:33:22+08:00
 * @Email:  edwardwang0302@me.com
 * @Last modified by:   moke
 * @Last modified time: 2017-11-16T22:48:47+08:00
 */
.page-wrap {
    background: #fff;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}
.result-con {
    display: none;
}
.result-con .result-title {
    color: #555;
}
.result-con .result-content {
    margin-top: 20px;
}
.result-con .result-content .link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
